<div>
    <input type="button" value="ShowAddNew" (click)="ShowAddNew()">
    <br/>
        <h1>Employee Info</h1>
        <table>
            <tr>
                <th>
                    Emp Name
                </th>
                <th>
                    Salary
                </th>
            </tr>
            <tr *ngFor="let x of Employees" mouseover>
                <td>
                    {{x.EmpName | concat:'a':'b':x.Salary | uppercase}}
                </td>
                <td>
                    {{x.Salary | currency}}
                </td>
            </tr>
        </table>
    </div>
    