<div>
        <table>
            <tr>
                <td>
                    Employee Name :
                </td>
                <td>
                    <input type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    Salary :
                </td>
                <td>
                    <input type="text" />
                </td>
            </tr>
        </table>
    
        <input type="button" value="Save" (click)="SaveEmployee()" />
        <input type="button" value="Cancel" (click)="HideAddNew()" />
    
    </div>
    